@model ProductRespone
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.ProductId"><img class="img-fluid" src="@Model.ProductImg" alt="@Model.NameProduct"></a>
        </div>
        <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
                <h3>@Model.NameProduct</h3>
                <h2>@Convert.ToDecimal(Model.Price).ToString("#,##") $</h2>
                <ul class="list">
                    <li><a class="active" href="#"><span>Category</span> : @Model.NameCategory</a></li>
                    <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                </ul>
                <p>
                    @Model.Description
                </p>
                <div class="card_area d-flex align-items-center">
                    <a class="primary-btn" href="#">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="review_box">
            <h4>Add a Review</h4>
            <p>Your Rating:</p>
            <h3>
                @for (int i = 0; i < Model.Rated; i++)
                {
                    <i class="ion-android-star" style="color: #ffdd59"></i>
                }
            </h3>
            <h2 class="h3">What do you think? (#@ViewBag.rateCount)</h2>
            <div class="wrapper">
                <div class="content">
                    @foreach (var review in ViewBag.rate)
                    {
                        @await Component.InvokeAsync("Rating", review);
                    }
                </div>
            </div>

            <form class="join" asp-action="PostReview" asp-controller="Product" method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="rate">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="userName" value="" placeholder="Name" required class="form-control" />
                        <input type="hidden" name="productId" value="@Model.ProductId" />
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <textarea name="comments" placeholder="Type here" required class="form-control" rows="5"></textarea>
                        <br>
                    </div>
                    <div class="col-sm-12">
                        <div class="align-center">
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm"> <i class="ion-android-send"></i> Send</button>
                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"> <i class="ion-android-share"></i> No, thanks </button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
